<h4>General</h4>

<%= form_field_for sim_form, :name, {:class=>'form-group', :label=>'Name', :help=>'Not empty. Maximum 256 characters.'} do |_class| %>
  <%= sim_form.text_field(:name, :class=>"#{_class}") %>
<% end %> 

<h4>Loan</h4>

<%= fields_for :loan, @loan do |loan_form|%>
	<div class="form-group">
	  <div class="form-row">

		<%= form_field_for loan_form, :amount, {:class=>'col', :label=>'Amount', :help=>'Minimum 1 000.00. Maximum 999 999 999.99.'} do |_class| %>
		  <%= loan_form.text_field(:amount, :class=>"#{_class}") %>
		<% end %>

		<%= form_field_for loan_form, :currency, {:class=>'col', :label=>'Currency', :help=>'Select currency.'} do |_class| %>
		  <%= loan_form.collection_select(:currency, @currencies, :to_s, :to_s, {}, {:class=>"#{_class}"}) %>
		<% end %> 

	  </div>
	</div>
<% end %>