<!DOCTYPE html>
<html>
  <head>
    <title>Loan Simulation System</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'pagy' %>
  </head>

  <body id = "simulator">
      <div id = "container" class="container">
         
         <div id = "header" >
            <nav class="navbar navbar-light bg-info">
               <h1>Loan Simulation System</h1>
            </nav>
         </div>

         <div id = "content">
            <%= yield -%>
         </div>

         <div id = "sidebar"></div>
         
      </div>
   </body>

</html>
